@page "/planta/{id}"

@using CosoParaProgramacion3Movil.Models
@using CosoParaProgramacion3Movil.Services

@inject PlantaService plantaService
@inject NavigationManager navigationManager
@inject AuthService sesionService

<h3>
    @if (id == "0")
    {
        <span>Agregar Planta</span>
    }
    else
    {
        <span>Editar Planta</span>
    }
</h3>



<EditForm OnValidSubmit="@Grabar" Model="@planta">
    <div class="mt-3">
        <label>Nombre Cientifico</label>
        <InputText @bind-Value="@nombreCientificoNuevo" placeholder="@planta.NombreCientifico" />
    </div>
    <div class="mt-3">
        <label>Nombre Vulgar</label>
        <InputText @bind-Value="@nombreVulgarNuevo" placeholder="@planta.NombreVulgar" />
    </div>
    <div class="mt-3">
        <label>Imagen</label>
        <InputText @bind-Value="@imagenNuevo" placeholder="@planta.Imagen" />
    </div>
</EditForm>


<div class="text-center mt-3">
    <button class="btn btn-primary" @onclick="Volver">Cancelar</button>
</div>


@code {
    [Parameter]
    public string id { get; set; }

    public Plantas planta;

    string nombreCientificoNuevo;
    string nombreVulgarNuevo;
    string imagenNuevo;

    protected override async Task OnParametersSetAsync()
    {

        if (await sesionService.EstaAutenticadoAsync() == false)
        {
            navigationManager.NavigateTo("/login");
            return;
        }

        try
        {
            if (int.Parse(id) == 0)
            {
                planta = new Plantas();
            }
            else
            {
                planta = await plantaService.GetPlanta(int.Parse(id));
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error al cargar la planta: " + ex.Message);
        }
    }

    public void Volver()
    {
        // Navegar a la página de edición del producto
        navigationManager.NavigateTo($"/planta");
    }

    public async Task Grabar()
    {
        if (nombreCientificoNuevo is not null) { planta.NombreCientifico = nombreCientificoNuevo; } else { planta.NombreCientifico = ""; }
        if (nombreVulgarNuevo is not null) { planta.NombreVulgar = nombreVulgarNuevo; } else { planta.NombreVulgar = ""; }
        if (imagenNuevo is not null) { planta.Imagen = imagenNuevo; } else { planta.Imagen = "img/generico.jpg"; }

        try
        {
            if (int.Parse(id) == 0)
            {
                await plantaService.CreatePlanta(planta);
            }
            else
            {
                await plantaService.UpdatePlanta(int.Parse(id),planta);
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine("Error al cargar la funcion grabar: " + ex.Message);
        }

        navigationManager.NavigateTo("/planta");
    }
}

